[2016-09-23 19:01] cmgiven opened #3 "Refactor Stats tests"
Examining the unit tests for stats.rb in efolder, some of which also exist in certification, we need to establish which should be moved into Commons, rather than being duplicated in the edge apps. Also refer to the feature tests, which perhaps cover additional functionality.

[2016-09-23 19:02] cmgiven opened #4 "Add helpers"
Look in the application_helper.rb files of both efolder and certification for common helpers that could be consolidated in Commons, like the SVG icons. Also note the helpers given at the bottom of certification's stats.rb, which should similarly be moved.

[2016-09-23 19:03] cmgiven opened #5 "Refactor dependencies"
We need to establish what gems should be required from the Gemfiles of edge apps, and which should be included as dependencies of the Caseflow Commons gem. Also consider whether the current approach of specifying a ref for Commons is the appropriate solution for versioning.

Relatedly, there is a bug with the moment_timezone-rails gem that prevents it from being included as a gem dependency. If a

[2016-09-23 19:03] cmgiven opened #6 "Get CI up and running on Commons"
As with our edge apps, Commons should be integrated with Jenkins CI. Its current test suite is not configured, so this should reflect what is present in the edge apps, including linters and Brakeman.

Additionally as part of this issue we should:
- [ ] Update caseflow to the newest ref of commons and remove `values()` and `percentile()`from `models/stats_spec.rb`
- [ ] Update efolder express to th

[2016-09-26 17:36] orischwartz opened #7 "Unable to execute rake assets:precompile"
When deploying eFolder Express (and all other apps) we run `rake assets:precompile`. With caseflow-commons included, now seeing:

[code]

Looks like attempting to load `rspec` via https://github.com/department-of-veterans-affairs/caseflow-commons/blob/master/lib/caseflow.rb#L1

[2016-09-26 18:21] #7 closed

[2016-10-31 22:53] KHarshawat opened #9 "Update Google Fonts in Caseflow Commons"
The version of Source Sans we use in Caseflow Commons is out of date w/ Google Fonts & USDWDS. We should update the font files to the latest from USWDS. Specifically we want the following wieghts from Google:

- Bold
- Regular
- Regular Italic

[2016-11-14 22:44] KHarshawat opened #11 "Logo: App Title: Text when hovered over should be darker"
Currently when you hover over the app title it appears as a `gray-light` color.

![image](https://cloud.githubusercontent.com/assets/6335546/20285822/ec28038c-aa91-11e6-9818-c79841cd8dba.png)

It should be USWDS `gray`

![image](https://cloud.githubusercontent.com/assets/6335546/20285795/ce14b700-aa91-11e6-8818-a84533c89189.png)

[2016-11-14 22:50] KHarshawat opened #12 "Style: All "black" titles and text should be USWDS gray-dark"
All titles and text in Caseflow should be USWDS `gray-dark` as designed. Right now they are pure black.

![image](https://cloud.githubusercontent.com/assets/6335546/20285977/a8c81e14-aa92-11e6-8176-b9d8b1634c3c.png)

vs

![image](https://cloud.githubusercontent.com/assets/6335546/20285981/adc943e8-aa92-11e6-9ee3-edb24179e362.png)

We should never use pure black in any of our text. Read this to und

[2016-11-14 23:03] KHarshawat opened #13 "Dropdown menu options should not be links"
Currently, where we have dropdowns we list items with links:

![image](https://cloud.githubusercontent.com/assets/6335546/20286127/497ff5f2-aa93-11e6-8d66-75b1786213c9.png)

Instead dropdown options should be highlighted on hover like the following mockup:

![image](https://cloud.githubusercontent.com/assets/6335546/20286391/8ed88992-aa94-11e6-9c5b-bb2832dc8479.png)

There's 15px of padding around

[2016-11-18 17:24] amprokop opened #14 "Factor user authentication service out into caseflow commons"
It's currently in caseflow, efolder, and caseflow-feedback. Should be in commons since most of that logic is shared.

Concern:  will this reduce greppability of authentication related code?

[2016-11-22 19:34] amprokop opened #15 "Move VACOLS constants and data out into shared VACOLS data classes"
The data in `caseflow/app/models/vacols` is hardcoded and should be shared. Extract it from Caseflow into this repo.

This is a refactoring task, no QA necessary.

[2016-11-22 19:53] shanear opened #16 "Factor out User model from the apps"
There's common functionality in the User model for all 3 of our apps. We should consolidate it in caseflow commons.

[2016-12-19 16:44] KHarshawat commented on #9
For example, eFolder express uses the following H1

![image](https://cloud.githubusercontent.com/assets/6335546/21320839/551c2df0-c5e0-11e6-84e1-a68b192a8e16.png)

But the web standards h1 looks like the following

![image](https://cloud.githubusercontent.com/assets/6335546/21320846/61ac3c7c-c5e0-11e6-9940-245efb288b7b.png)

Both are listed at `font-weight: 700` in the dom so something is fishy he

[2016-12-19 17:40] KHarshawat opened #19 "Make sure app branding is consistent across apps"
![image](https://cloud.githubusercontent.com/assets/6335546/21321008/061e6eb0-c5e1-11e6-9282-bc88146958ab.png)

![image](https://cloud.githubusercontent.com/assets/6335546/21321012/0af3068a-c5e1-11e6-8c8f-df59dffdc6c9.png)

![image](https://cloud.githubusercontent.com/assets/6335546/21321023/16083de2-c5e1-11e6-8369-4b9b9178a2da.png)

![image](https://cloud.githubusercontent.com/assets/6335546/2132

[2016-12-19 18:43] KHarshawat commented on #13
@mmlumba talk with me before implmenting this as I have newer designs.

[2016-12-19 18:43] KHarshawat commented on #11
This should be consistent across all Caseflow apps.

[2016-12-19 18:44] KHarshawat commented on #9
@mmlumba should be working on this now.

[2016-12-19 20:55] KHarshawat opened #20 "Master Issue: Tracking Design Improvements"
## Ready for Dev

- [x] [Update Google Fonts in Caseflow Commons](https://github.com/department-of-veterans-affairs/caseflow-commons/issues/9)
- [x] [Fix Favicons](https://github.com/department-of-veterans-affairs/caseflow/issues/509)
- [x] [Make all black text USWDS gray-dark](https://github.com/department-of-veterans-affairs/caseflow-commons/issues/12)
- [x] [Make sure app branding is consistent

[2016-12-20 15:32] KHarshawat commented on #13
Fuller spec is here:

![image](https://cloud.githubusercontent.com/assets/6335546/21356429/94959600-c69f-11e6-8087-76a2526611d0.png)

Note that the width and height of the dropdown are scalable but the width should be a minimum of 215px.

[2016-12-20 15:33] KHarshawat commented on #13
This should be used for all dropdown menus.

[2016-12-20 15:55] KHarshawat commented on #19
Here's the detailed spec that summarizes what's above.

![image](https://cloud.githubusercontent.com/assets/6335546/21357341/c88b07a8-c6a2-11e6-9a97-c74a3e71c159.png)

[2016-12-20 16:45] KHarshawat opened #21 "Remove underline when using abbr tag"
Today we underline text with a dotted line when we use the `abbr` tag in html. We should remove this underline for all `abbr` tags.

![image](https://cloud.githubusercontent.com/assets/6335546/21359297/d02fe24c-c6a9-11e6-97ed-4ab86c36b1d9.png)

[2016-12-20 16:58] KHarshawat opened #22 "Clean up footer in Caseflow apps"
**Current state: **

![image](https://cloud.githubusercontent.com/assets/6335546/21359053/dc2c831c-c6a8-11e6-92b3-70b4c8bc7bbd.png)

![image](https://cloud.githubusercontent.com/assets/6335546/21359340/f8fd2162-c6a9-11e6-9ecb-ccda47cd88b7.png)

![image](https://cloud.githubusercontent.com/assets/6335546/21359425/44520470-c6aa-11e6-8088-c66ea3322fcb.png)

**Desired State:**

![footer](https://cloud

[2016-12-20 19:10] KHarshawat opened #23 "Upgrade to new US Web Design Standards gem"
We should update our US Web Design Standards to the latest version (currently 0.14.0)

There is a new gem being used for USWDS:
https://github.com/18F/uswds-rails-gem

See https://github.com/18F/us_web_design_standards_gem/issues/15#issuecomment-203564667 for more information

[2016-12-20 19:31] KHarshawat opened #24 "Implement correct "required" field indiactor"
Today the way we use the "Required" field indicator is inconsistent in Certification and other places. Here is the specific guidance. We should make this consistent across our apps.

*Note that we should not colons after questions which means we probably need to edit the question labels in Certification to accommodate this.*

![image](https://cloud.githubusercontent.com/assets/6335546/21364915/ea7

[2016-12-21 19:50] KHarshawat opened #25 "Clean up FAQ Page template"
- [x] On this page the following should not have `margin:0`: `.usa-unstyled-list li { margin:0; }`
- [x] We should add a divider between the questions and the answers below. The color of the divider should be `gray-light` and there should be 30px margin at the top and bottom of it

![image](https://cloud.githubusercontent.com/assets/6335546/21403864/a969bd84-c78c-11e6-843a-872536aeab76.png)
![imag

[2016-12-21 21:59] mmlumba commented on #9
@KHarshawat For your h1 example, the bold style change will impact anything that has a header (`h1-h6`). Would this be ok? See below; the eFolder Express logo is an `h1`, and as such it will also be bold:
<img width="1078" alt="screen shot 2016-12-21 at 1 55 20 pm" src="https://cloud.githubusercontent.com/assets/4773320/21407689/b67ab2f0-c785-11e6-9aac-35a1c6581c5a.png">

[2016-12-30 19:59] nikitarockz commented on #13
@KHarshawat Are you ready for this one to move forward based on your last 2 comments?

[2017-01-04 02:23] mmlumba commented on #9
@KHarshawat check out PR #26 for the rest of the screenshots

[2017-01-04 15:09] KHarshawat commented on #13
@nikitarockz yes!

[2017-01-04 15:59] mmlumba commented on #9
@astewarttistatech @kierachell Instructions for testing listed in above PR ("Changing font files")

[2017-01-05 14:13] kierachell commented on #9
Here are before -> after mugshots on __Feedback__;

Looks good in `dev` as far as I can tell.

@astewarttistatech got screenshots from other apps.

<img width="277" alt="screen shot 2017-01-05 at 09 01 51" src="https://cloud.githubusercontent.com/assets/18075411/21683152/2211fdb0-d326-11e6-9c29-9e7ba3e32ef3.png">
<img width="254" alt="screen shot 2017-01-05 at 09 00 54" src="https://cloud.githubus

[2017-01-05 15:25] mmlumba commented on #12
@KHarshawat I saw that we use pure black in other parts of the CSS also (not text):
[code]
[code]

Should those be changed to `gray-dark`?

[2017-01-06 14:17] kierachell commented on #9
Question @KHarshawat & @mmlumba

In Manage Claim Establishment the following font was changed as well:
<img width="340" alt="screen shot 2017-01-06 at 09 15 05" src="https://cloud.githubusercontent.com/assets/18075411/21720377/ba4c0376-d3f0-11e6-95da-94cc10f61b62.png">

But not a _similar_ text for Caseworker:
<img width="262" alt="screen shot 2017-01-06 at 09 16 27" src="https://cloud.githubuserc

[2017-01-06 15:35] astewarttistatech commented on #9
@kierachell It was determined that that is not expected behavior per my conversation with Kavi. This  is a separate issue from the font changed.

[2017-01-06 15:40] astewarttistatech commented on #9
Please see attached for images of the change in Efolder Express.
![efolder express - help page](https://cloud.githubusercontent.com/assets/23038505/21722898/7fb2b06e-d3fc-11e6-80c8-6ce45dfac9a9.png)
![efolder express - hp](https://cloud.githubusercontent.com/assets/23038505/21722900/7fcaef6c-d3fc-11e6-9f0e-2be2a3d48cfa.png)
![efolder express - loading user](https://cloud.githubusercontent.com/asse

[2017-01-06 15:58] astewarttistatech commented on #9
Please see attached for the screenshots of Caseflow Dispatch and Certification.

![caseflow certification - caseworker establish claim](https://cloud.githubusercontent.com/assets/23038505/21723550/e65263d0-d3fe-11e6-8c5d-647f9eaf1e5e.png)
![caseflow certification - certify appeal](https://cloud.githubusercontent.com/assets/23038505/21723552/e6589534-d3fe-11e6-89cf-8ed6386a1bb5.png)
![caseflow cert

[2017-01-06 16:00] #9 closed

[2017-01-06 19:20] #3 closed

[2017-01-09 15:23] kierachell commented on #16
+`StubbableUser` from the specs;

[2017-01-12 19:53] mmlumba commented on #12
@astewarttistatech @kierachell Instructions for testing:
Find the line `gem "caseflow"`within the `Gemfile` for any app (certification, efolder, feedback) and modify the line to look like the following:
`gem "caseflow", git: "https://github.com/department-of-veterans-affairs/caseflow-commons", ref: "9955a2c"`
Run `bundle install`
View the app in Dev and verify the app looks similar to above screen

[2017-01-12 20:02] mmlumba commented on #13
@KHarshawat Do you want me to use the specs from your second comment?

[2017-01-12 20:03] KHarshawat commented on #13
yes plz!

[2017-01-13 01:41] kierachell commented on #12
Oh boy a lot of places to check! 😈
**eFolder**
<img width="1034" alt="commons_black_font_efolder" src="https://cloud.githubusercontent.com/assets/18075411/21915361/76e9bbde-d907-11e6-8882-a6932a3ffe01.png">
<img width="469" alt="commons_black_font_efolder2" src="https://cloud.githubusercontent.com/assets/18075411/21915362/76ea1598-d907-11e6-9a20-124ea3af36db.png">
<img width="476" alt="commons_bla

[2017-01-13 02:08] kierachell commented on #12
**Certification** only one issue <see below>

<img width="371" alt="commons_black_font_certification3" src="https://cloud.githubusercontent.com/assets/18075411/21915948/0a6b2c32-d90b-11e6-8ec6-8f2d79e7cbf8.png">
@KHarshawat do the **Form 8** numbers need to be changed from `pure black`?

<img width="1070" alt="commons_black_font_certification1" src="https://cloud.githubusercontent.com/assets/18075

[2017-01-13 02:17] kierachell commented on #12
**Dispatch** looks good 👍
<img width="1560" alt="commons_black_font_dispatch1" src="https://cloud.githubusercontent.com/assets/18075411/21916157/871360a0-d90c-11e6-92ed-e40d3356c63d.png">
<img width="500" alt="commons_black_font_dispatch2" src="https://cloud.githubusercontent.com/assets/18075411/21916158/87137f40-d90c-11e6-9d44-589c9efda398.png">
<img width="1000" alt="commons_black_font_dispatch3

[2017-01-13 14:02] kierachell commented on #12
<img width="794" alt="commons_black_font_feedback" src="https://cloud.githubusercontent.com/assets/18075411/21932519/ef9ac610-d96e-11e6-99cb-898d637dbf73.png">

Feedback looking good 👍

[2017-01-13 15:32] KHarshawat commented on #12
@kierachell all looks great. For the Form 8 numbers, yes these should have changed colors too.

[2017-01-17 14:04] kierachell commented on #12
#32 should fix this (once it goes through)

[2017-01-17 15:52] kierachell commented on #12
<img width="248" alt="commons_blackfont_form8" src="https://cloud.githubusercontent.com/assets/18075411/22027765/d96d0448-dca2-11e6-8f53-4812e5693daa.png">
+R
Looks awesome now. I am totally not oppressed by any "true black" font.
My man cave is shinning with the new "dark grey" style.

[2017-01-17 15:52] #12 closed

[2017-01-18 19:14] mmlumba commented on #13
@KHarshawat Is the 32px height only for the text link or is it for the bullet point?

[2017-01-20 15:31] #6 closed

[2017-01-24 15:38] mmlumba commented on #13
Per yesterday's discussion total height for the list item should be 33px and the hover should extend to the edges of the dropdown.

[2017-01-31 00:26] mmlumba commented on #21
@astewarttistatech @kierachell Instructions for testing:
Find the line `gem "caseflow"`within the `Gemfile` for any app (certification, efolder, feedback) and modify the line to look like the following:
`gem "caseflow", git: "https://github.com/department-of-veterans-affairs/caseflow-commons", ref: "f186d50"`
Run `bundle install`
Verify that there is no dotted underline in the footer (see below sc

[2017-01-31 14:59] mmlumba commented on #13
@astewarttistatech @kierachell This change is in Certification and eFolder. Feedback will be added shortly once the PR is merged

[2017-01-31 15:20] kierachell commented on #21
<img width="403" alt="screen shot 2017-01-31 at 10 19 45" src="https://cloud.githubusercontent.com/assets/18075411/22470934/d4e50ba8-e79e-11e6-89bd-d07134f063f1.png">
Looks correct on Certification/Dispatch and Feedback (eFolder too,duh)

[2017-01-31 15:20] #21 closed

[2017-01-31 15:45] nemodjuric opened #35 "Add character-counter.js to commons"
This script was used in certification, we need it in other projects as well (i.e. Feedback).

[2017-02-01 15:13] astewarttistatech commented on #13
Tested in UAT | Not Implemented :eyes:

<img width="249" alt="screen shot 2017-02-01 at 10 12 56 am" src="https://cloud.githubusercontent.com/assets/23038505/22512475/1e42abfc-e867-11e6-8ef6-443e1a599d2c.png">

[2017-02-01 16:21] astewarttistatech commented on #13
Works on UAT for Efolder/ not for Dispatch.

[2017-02-01 17:53] astewarttistatech commented on #13
**PASSED**

Environment Tested in: UAT

Steps to Validate:
1. Go to Caseflow/Efolder
2. Check the drop down and hover over the available options for spacing and highlighting

Screenshots:
<img width="270" alt="screen shot 2017-02-01 at 11 46 10 am" src="https://cloud.githubusercontent.com/assets/23038505/22519176/69e8948e-e87d-11e6-8d49-c9d299e44b8c.png">

[2017-02-01 17:53] #13 closed

[2017-02-02 15:34] #35 closed

[2017-02-03 16:18] mmlumba commented on #11
1. Find the line `gem "caseflow"`within the `Gemfile` for any app (certification, efolder, feedback) and modify the line to look like the following:
`gem "caseflow", git: "https://github.com/department-of-veterans-affairs/caseflow-commons", ref: "8b0be5e"`
2. Run `bundle install`
3. Hover over the top left header in the app
4. Verify that the color for the header is `#5b616b`
5. Revert the `gem "c

[2017-02-03 16:22] astewarttistatech commented on #11
Hey @kierachell, I assigned this to you because I still have no admin privileges 🙄

[2017-02-03 18:56] kierachell commented on #11
<img width="554" alt="screen shot 2017-02-03 at 13 50 43" src="https://cloud.githubusercontent.com/assets/18075411/22604197/7420f08a-ea18-11e6-8fbc-02850f499f22.png">
<img width="698" alt="screen shot 2017-02-03 at 13 51 06" src="https://cloud.githubusercontent.com/assets/18075411/22604198/742278ba-ea18-11e6-9784-130932bd1ac2.png">
<img width="856" alt="screen shot 2017-02-03 at 13 53 02" src="htt

[2017-02-03 18:56] #11 closed

[2017-02-06 19:46] mmlumba commented on #25
@KHarshawat-gov What is the padding between the `li` elements?

[2017-02-06 19:51] KHarshawat-gov commented on #25
@mmlumba I'll come and we'll tweak in the dom

[2017-02-06 20:46] slj commented on #24
Please note 8B in the attached GIF:

![form9respissues](https://cloud.githubusercontent.com/assets/1053255/22664899/9f381b4e-ec80-11e6-90bf-c9cd4d29dad9.gif)

the Style Guide does not recommend how to indent when the label spans 2+ lines.  Also, the inline radios buttons sit directly on top each other.  IMO we keep the margin on the bottom of the inline radios - this will, at least in Form 9, keep

[2017-02-06 21:34] slj commented on #24
@KHarshawat @KHarshawat-gov do we really need to left-align the "Required" label (point 4)?

[2017-02-07 02:16] slj commented on #24
Didn't notice anywhere in `efolder` where labels need ":" removed.

[2017-02-07 19:43] slj commented on #24
Looks like someone's previous commit handled points 1, 2 and 5.

[2017-02-08 14:14] astewarttistatech commented on #25
**PASSED**

Steps to Validate:
1. Go to https://certification.cf.uat.ds.va.gov/
2. Validate the styling changes

Tested in UAT
Screenshots:
<img width="1333" alt="screen shot 2017-02-08 at 9 13 25 am" src="https://cloud.githubusercontent.com/assets/23038505/22740796/02727718-eddf-11e6-919d-97cbe7ef363a.png">

[2017-02-08 14:14] #25 closed

[2017-02-08 15:06] KHarshawat-gov commented on #24
Awesome :) LMK if you still need feedback...

[2017-02-09 01:17] kierachell commented on #24
Works on **Certification**:
<img width="630" alt="screen shot 2017-02-08 at 20 05 16" src="https://cloud.githubusercontent.com/assets/18075411/22764672/1225594a-ee3a-11e6-91a4-bae7fc3ad3ef.png">
<img width="394" alt="screen shot 2017-02-08 at 20 05 43" src="https://cloud.githubusercontent.com/assets/18075411/22764673/122742d2-ee3a-11e6-88ba-07089accc4b9.png">
<img width="566" alt="screen shot 2017

[2017-02-09 02:14] #24 closed

[2017-02-13 19:51] slj commented on #23
Things seem to work locally, but while changes to `caseflow-commons` and `efolder` pass the CI, `caseflow` fails.  Seems mostly to Capybara not being able to find certain elements.  No clue why right now.

[2017-02-14 13:39] mmlumba commented on #19
@KHarshawat-gov There are certain pages that don't have a page title, such as the "Establish Claim" page in Dispatch:
<img width="1148" alt="screen shot 2017-02-14 at 8 37 48 am" src="https://cloud.githubusercontent.com/assets/4773320/22931005/f6a2e92a-f290-11e6-974f-bedb9d2bf834.png">
I'll talk to @lakohl about which pages should have which titles (if any).

[2017-02-14 14:59] lakohl commented on #19
@KHarshawat would love to chat about page titles vs. say table titles. and if we might choose to style those differently. It's true that not all pages have titles and I would be in favor of adding them to help the user understand where they are.
For example what @mmlumba understandably just referred to as the 'Establish Claim' page is really the caseworker landing page, there is another page where

[2017-02-15 03:34] slj commented on #22
The header needs more padding and its main menu should align right with the browser at certain widths, otherwise we have this:

![headerneedslove](https://cloud.githubusercontent.com/assets/1053255/22959422/3972a024-f304-11e6-8c2e-aef8b423f9ab.gif)

[2017-02-15 15:14] KHarshawat-gov commented on #19
Interesting ... Ready to discuss @lakohl :)

[2017-02-16 22:02] slj opened #49 "Tabs still not rendering consistently"
### Problem

When the `cf-tab` class is applied to `div`, `li` and `button` tags, the UI is inconsistent.

### Acceptance Criteria

#### DIV tag
Use caseflow/cert:
- Select **Switch User** from main menu
- Under **Switch User** click **Establish Claim at station 283**
- Under **Dispatch** click **Establish Claim**
- Click **Establish Next Claim** button
- Under **Select a Decision Document** exami

[2017-02-17 03:51] kierachell commented on #22
This is what I like to see, some good old manual self-QAing 👍

[2017-02-17 17:43] kierachell commented on #22
1. Needs a PR to add this to Caseflow Feedback
https://github.com/department-of-veterans-affairs/caseflow-feedback/
2. I am not seeing `50px` for padding below below for links in the footer `div` that contains the links/text
![footer50px](https://cloud.githubusercontent.com/assets/18075411/23076447/82343c30-f50e-11e6-8f49-1946e41d6d4d.png)

[2017-02-20 06:22] slj commented on #22
@kierachell I've created a PR for @mmlumba's review that adds padding to the bottom: https://github.com/department-of-veterans-affairs/caseflow-commons/pull/50

Once approved.  I'll update PRs for cert/efolder/feedback.

[2017-02-20 20:56] slj commented on #22
This PR https://github.com/department-of-veterans-affairs/caseflow-feedback/issues/113 will not build. I've tried several times via closing/re-opening the PR to no avail.

[2017-02-21 13:44] slj commented on #22
Build succeeded.

[2017-02-21 15:01] kierachell commented on #22
**PASSED**
lgtm
![feedbackfooter](https://cloud.githubusercontent.com/assets/18075411/23170308/b0aae9c2-f81c-11e6-80e5-9168d651844e.png)

[2017-02-21 15:01] #22 closed

[2017-02-22 17:55] kierachell opened #55 "Stats | Tab switching takes a long time"
# Description:
On Caseflow and eFolder Express,
When switching Tabs between _Hourly_,_Daily_, etc.
It takes a while for each tab to load,
maybe would be useful to have a loading animation (otherwise it feels like the click did not go through)

**Type of Bug:**
- [ ] Functional

- [X] UI

- [ ] Security

- [ ] Tech Improvement

**Severity Level:**

**`dev`,`uat`**

# Reproductive Steps
**Scenario 1

[2017-02-22 21:03] kierachell opened #56 "Header | Application Name and Icon Spacing"
connects #19

Currently the App name and Icon are not aligned consistently across the apps:
It shifts left/right between different apps.
And the spacing between the text and icon is inconsistent
![headersize](https://cloud.githubusercontent.com/assets/18075411/23232108/1ed7cfe0-f918-11e6-8341-5627c0f33f8c.gif)

**Note:** The spacing for the icon from the left seems to OK most of the time; but it w

[2017-02-23 00:00] kierachell commented on #55
Need designer input on how to handle this _gracefully_

[2017-02-24 18:59] KHarshawat-gov commented on #19
All these headers are out of date. We now have the following pattern

[Icon] **Caseflow** `Application Name`

On the work queue page there doesn't need to be a page title.
On workflow pages we have the option of including the page title using the following format (the title should reflect any navigation, like progress bars, that are used in the app)

[Icon] **Caseflow** `Application Name` > `Page

[2017-02-25 01:35] kierachell commented on #49
It's whack, yo:
![efolderstats](https://cloud.githubusercontent.com/assets/18075411/23326827/af8f0f26-fad0-11e6-84e9-d6442abe3bc9.png)
and not consistent
![certstats](https://cloud.githubusercontent.com/assets/18075411/23326828/af930c20-fad0-11e6-8b37-bea6b159fada.png)

[2017-02-25 04:57] slj commented on #49
What browser did you use?

[2017-02-25 05:22] slj commented on #49
Locally things don't look as bad as this on any browser.  Nevertheless, I somehow pushed a fix where the the margin was off by 1px for BUTTON and LI...SMH...I'll make the change and put some screenshots of IE9, FF and Chrome later today.

[2017-02-25 05:54] slj commented on #49
OK, I was able to re-create the stats page problem on Chrome locally.  I don't understand how this happened.  There's no way I would have knowingly pushed a commit if the results were like this.  Frustrated, but will persist until this is truly resolved.

[2017-02-25 13:18] kierachell commented on #49
This is on IE11 from `dev` and `uat`.

[2017-02-25 14:56] slj commented on #49
@kierachell based on the results I posted, can this go back into validation?

[2017-02-25 17:49] #49 closed

[2017-02-25 17:51] kierachell commented on #19
Something I noticed about _Stats_ page:
![screenshot_2017-02-25_12-50-19](https://cloud.githubusercontent.com/assets/18075411/23333417/070665aa-fb59-11e6-9976-b83b6249041b.png)
eFolder lacks the _Dashboard_ in the header and has a big title instead
![screenshot_2017-02-25_12-50-10](https://cloud.githubusercontent.com/assets/18075411/23333416/070561b4-fb59-11e6-9fec-048bc490084d.png)

[2017-02-27 17:53] slj opened #57 "Use Javascript assets in USWDS gem to remove components.js dependency"
Currently the file `components.js` in `vendors/assets/javascripts` of the Caseflow repo adds the accordions to the Caseflow style guide. Ideally we would like to remove this file and add all the necessary JS to caseflow-commons.

Connects #23

[2017-02-27 18:00] mmlumba opened #58 "Add USWDS JS to Caseflow Commons"
Currently the file `components.js` in `vendors/assets/javascripts` of the Caseflow repo adds the accordions to the Caseflow style guide. Ideally we would like to remove this file and add all the necessary JS to caseflow-commons.

Connects #23

[2017-02-27 18:00] mmlumba commented on #58
redundant issue of https://github.com/department-of-veterans-affairs/caseflow-commons/issues/57

closing

[2017-02-27 18:00] #58 closed

[2017-02-27 18:24] slj commented on #23
@kierachell or @astewarttistatech pls validate by going anywhere in the apps you choose.  As long as there are no glaring style errors or "missing component/asset" type errors, all is well.

[2017-02-27 19:26] kierachell commented on #19
The stats page will have a redo anyway so
**PASSED** for now.

[2017-02-27 19:28] #19 closed

[2017-03-01 14:44] kierachell commented on #23
Well, there were...many.
So I need to know if this is staying or going
@shanear @slj @mdbenjam - we need a follow up issue for the fixes and updates related to this.
Right now the _functionality_ is there, but this:

<img width="1428" alt="screen shot 2017-03-01 at 9 41 36 am" src="https://cloud.githubusercontent.com/assets/18075411/23464618/a9e10138-fe63-11e6-83c2-b7ac45b1d06c.png">

[2017-03-01 14:44] #23 closed

[2017-03-02 16:17] astewarttistatech opened #60 "Support custom text inputs widths"
Associated Issues:
#859

[2017-03-10 21:51] slj opened #66 "Use block text for checkboxes and radios"
This is likely documented elsewhere, nevertheless, these:

![radio-before](https://cloud.githubusercontent.com/assets/1053255/23813970/6cff7620-05af-11e7-8619-bebf35e0dcbc.gif)

<img width="265" alt="chk-before-50" src="https://cloud.githubusercontent.com/assets/1053255/23814280/e4fbdc44-05b0-11e7-8328-a86c78c9f9de.png">

Should work like these:

![radio-after](https://cloud.githubusercontent.com/

[2017-03-14 19:11] ariperez-gov opened #69 "Continuity of Spacing for Labels"
https://github.com/department-of-veterans-affairs/caseflow/issues/1026

[2017-03-16 14:09] aroltsch opened #71 "Migrate FeatureToggle to commons"

[2017-03-16 14:46] #66 closed

[2017-03-16 14:46] kierachell commented on #66
**PASSED**

[2017-03-18 23:19] ariperez-gov commented on #69
Text box should be 380px
Spacing between the text box label and text box should be increased to match the distance between 'Select Special Issues(s)' and the first special Issue checkbox.
There should be a minimum of 30px between the label 'Decision Type' and the Decision .pdf viewer above the label.

@tejans24

[2017-03-20 14:36] #71 closed

[2017-03-23 12:50] lakohl commented on #55
assigning this to @gnakm for guidance. Loading indicator may be merited

[2017-03-27 15:42] gnakm commented on #56
I'm going to close out this issue because it is being address here https://github.com/department-of-veterans-affairs/caseflow/issues/1086 for the living styleguide. In this issue, you will find a link to invision with the specs.

[2017-03-27 15:42] #56 closed

[2017-03-29 17:37] gnakm commented on #55
Hey @kierachell -- just to make sure I am understand what's on at the top because it's a little hard to tell with the screen recording. The problem is that it is taking time to load into the next tab, correct? Not necessarily the graphs on the page aren't loading fast enough.

[2017-04-01 02:05] kierachell commented on #55
There might be two issues here:

1. Should the graphs just load faster? That's a developer issue (that's why the bug is not a `bug-ui`)
1. If not 1. then should we have a loading indicator or some response that _action is taking place hang on a moment_

[2017-04-19 13:46] astewarttistatech opened #81 ""Continue" button too close to modal"
**Description**

Currently in Certification V2, on the all the pages applicable in the flow, the "Continue" button is laying on the border of the modal.

**Expectation: **
Minor spacing between buttons and the modal border (Shelly can you add specs here?)

**Steps to Recreate: **
1. In Certification V2, navigate to the Confirm Page Details page and validate that the "Continue" button is too close

[2017-04-24 19:43] amprokop commented on #81
@astewarttistatech — can you verify that this is still happening?

[2017-04-28 13:29] aroltsch opened #84 "FeatureToggle - use different Redis namespaces for different environment"
Each environment should have their own Redis namespace so we won't run into issues with the tests vs development environment.

Tech notes:
1. Leave production and uat as is.
2. Currently all environments use the same Redis namespace:
`@client ||= Redis::Namespace.new(:feature_toggle, redis: redis)`
3. Prepend environment name to the Redis namespace name

[2017-05-03 13:50] kierachell commented on #84
**PASSED**

Whatever the AC says.
## UAT
[code]

## Prod
[code]

[2017-05-03 13:50] #84 closed

[2017-05-08 18:01] amprokop commented on #81
Closing. This seems to have been fixed.

[2017-05-08 18:01] #81 closed

[2017-06-14 15:06] ghost opened #98 "FeatureToggle | How to determine if a feature is `global-only`?"
# Description
When trying to FeatureToggle for a specific user, the `enabled?` checks for User's regional office, which is not defined in eFolder. So, it's hard to tell if the feature even working for a user...

And you can't really enable/disable a feature globally to override user/RO-specific configurations

## Expected:
1. Be able to tell when a feature is `global-only`
1. Be able to "expand" a

[2017-06-19 19:17] mmlumba opened #100 "Lock major versions of JS-rails gems"
https://github.com/department-of-veterans-affairs/caseflow-commons/blob/master/caseflow.gemspec#L27-L29
Lock `jquery-rails`, `d3-rails`, and `momentjs-rails` to the current major version. Also aws gems and d3-rails.

[2017-06-20 19:57] nemodjuric opened #101 "Caseflow::Stats returns incorrect value for median"
https://github.com/department-of-veterans-affairs/caseflow-commons/blob/master/app/models/caseflow/stats.rb#L91 returns incorrect median value

Currently for [15, 30, 120,180, 240, 300] returns 180, where it should be 150.

[2017-06-27 15:10] gnakm commented on #55
@kierachell Is this still persisting?

[2017-06-27 16:16] kierachell commented on #55
It's not too bad, close this if the following is acceptable:
![nottoobad](https://user-images.githubusercontent.com/18075411/27598080-60228a2c-5b32-11e7-94ea-a04c65929672.gif)

[2017-06-27 16:33] lakohl commented on #55
Are you testing in prod? Just wondering if the lag time is the same in the test environment...

[2017-06-27 16:40] gnakm commented on #55
This new gif is helpful because it's showing that it's not the individual graphs but the tabs and the Dashboard name on the top nav. I think it would be an over kill to have loaders in every tab. What about have "_Loading..._" where Dashboard should be at the top nav in the same style as Saving... in Hearing worksheet?

[2017-06-27 16:48] lakohl commented on #55
@gnakm Agree about the overkill and I like the 'Loading...' idea

[2017-06-29 01:08] kierachell commented on #55
Can't test on prod...because...CSS...ISO... :(

[2017-08-07 18:38] kierachell opened #110 "Refactor Metrics and Prometheus services out of Caseflow and eFolder"
Now that Caseflow and eFolder share the logic for Prometheus and Metrics services, we can refactor them out to be shared across the apps:

- https://github.com/department-of-veterans-affairs/caseflow-efolder/pull/576
- https://github.com/department-of-veterans-affairs/caseflow/issues/1212

[2017-08-09 13:12] aroltsch opened #111 "Feature Toggle - ignore case when checking CSS ID"
AC:
1. Enable a feature for css_id: GNOME
2. Create a user with css_id GnOme.
3. Make sure the feature is enabled for that user

[2017-08-10 14:56] mmlumba commented on #57
For Validation:
Check if the accordions on both styleguide and Reader still work as expected

[2017-08-10 17:41] kierachell commented on #111
**PASSED**

cause I can't check...cause CSS is the suck

[2017-08-10 17:41] #111 closed

[2017-08-11 15:52] astewarttistatech commented on #57
**PASSED**

Env: UAT
Browser: FF and Chrome

Steps to Validate:
1. Access Styleguide
2. Verify that the accordions work accordingly (get the pun)
3. Navigate to a document in Reader
4. Check the menu's accordions to see if they work like the ones in the styleguide

Screenshots:
![accordiansyeah](https://user-images.githubusercontent.com/23038505/29221107-849d5c3e-7e8b-11e7-93fc-ee7c5fe32b06.gif)

[2017-08-11 15:52] #57 closed

[2017-08-22 21:47] kierachell opened #114 "S3 Streamer | Implement multi-part upload for 5GB+ eFolders"
# Description
Apparently we've hit a new size for eFolders: 5GB+ zipfile size and it's causing Sentry errors:
https://sentry.ds.va.gov/department-of-veterans-affairs/efolder/issues/389/events/6780/

AWS has a multi-part upload that can allow us to stored 5TB files... why not?
http://docs.aws.amazon.com/AmazonS3/latest/dev/uploadobjusingmpu-ruby-sdk.html

## Reproduction Steps

**Scenario 1 -**

1.

[2017-08-29 18:31] amprokop opened #115 "Move Functions module from Caseflow to commons"
## Acceptance Criteria
- Functions module is in commons, not Caseflow

[2017-09-12 13:56] kierachell commented on #115
**PASSED**

[code]

- when System Admin granted:
<img width="1203" alt="screen shot 2017-09-12 at 9 54 58 am" src="https://user-images.githubusercontent.com/18075411/30329554-961ec582-97a0-11e7-8205-e2c95eb3b1f4.png">

[2017-09-12 13:56] #115 closed

[2017-09-18 15:13] nemodjuric opened #117 "Add FeatureToggle and Functions section to README"
Since these are references by multiple apps, we should have section for these, then reference that in individual apps READMEs.

[2017-09-19 14:24] kierachell commented on #117
**PASSED**

It's a readme!

[2017-09-19 14:24] #117 closed

[2017-12-13 20:27] gnakm commented on #55
This is a v. minor bug. I'm going to close this. If we need to revisit it, it has the won't fix label and we can find later.

[2017-12-13 20:27] #55 closed

[2017-12-13 21:13] nolawi opened #122 "Set alternative default for special fonts"

[2017-12-20 19:01] #122 closed

[2018-01-02 19:06] lowellrex commented on #114
The issues raised in this ticket that are created on the caseflow-commons side of the house were fixed in [PR 124](https://github.com/department-of-veterans-affairs/caseflow-commons/pull/124). Closing this ticket out since the remaining work on the efolder side is captured in [efolder ticket 768](https://github.com/department-of-veterans-affairs/caseflow-efolder/issues/768).

[2018-01-02 19:06] #114 closed

[2018-01-10 15:00] nemodjuric opened #132 "Add FeatureToggle.sync function"
It should take a json file as parameter and sync all features according to that file.

See conversation: https://github.com/department-of-veterans-affairs/appeals-deployment/pull/1144

[2018-01-16 16:49] nemodjuric opened #133 "Fix FeatureToggle details_for function when globally enabled"
After:

[code]

Currently we have:

[code]

when it should be:

[code]

[2018-01-23 19:43] nemodjuric opened #141 "Update rubocop"
Running bundle exec rake security informs us that we're using an outdated / insecure version of  Rubocop:

Name: rubocop
Version: 0.36.0
Advisory: CVE-2017-8418
Criticality: Low
URL: https://github.com/bbatsov/rubocop/issues/4336
Title: RuboCop: insecure use of /tmp
Solution: upgrade to >= 0.49.0

Vulnerabilities found!

[Issue in question](https://github.com/bbatsov/rubocop/issues/4336), [changel

[2018-01-24 22:04] shanear opened #143 "Breaking up Caseflow Commons - a "common" sense approach"
![image](https://user-images.githubusercontent.com/1596259/35361274-c9e3f6f6-012e-11e8-81a8-90f31027078a.png)

After furiously scouring caseflow commons to take inventory on all the amazing things it does for us. I've got a plan on how we can break it up to make a little bit more sense:

## Feature & Authentication support
- `feature_toggle.rb`
- `functions.rb`
- `logger.rb`

This is the trickiest

[2018-01-24 22:55] nickheiner-usds commented on #143
Excellent image. I'll comment on the rest tomorrow! :smile:

[2018-01-24 23:11] Sjones352 commented on #141
**PASSED**

Validate
1. Run  `bundle exec rake security` Using rubocop 0.52.1 (was 0.36.0)
2. Gemfile shows gem "rubocop", "~> 0.52.1", require: false

[2018-01-24 23:12] #141 closed

[2018-01-24 23:50] mdbenjam commented on #143
Moving document related stuff to eFolder is A+. We need to move the other apps to use the eFolder API but this should be pretty easy now!

[2018-01-25 15:04] amprokop commented on #143
Strong +1 on the frontend stuff.

[2018-01-25 15:05] amprokop commented on #143
`Feature & Authentication support`

Agreed that this can stay in commons. FeatureToggle and Functions, at least, are two library-like modules and are reasonably isolated and well-tested.

[2018-01-25 15:25] nickheiner-usds commented on #143
👍 on the frontend stuff.

If we have a CSS file in `./client/node_modules`, is it trivial to pull it in from the Rails asset pipeline?

[2018-01-25 16:10] tejans24 commented on #143
👍🏼 looks good

@NickHeiner we would have to add the path to the assets.paths for rails to find them.

[2018-01-25 16:11] amprokop opened #144 "Validate input for `FeatureToggle.sync`"
Related to https://github.com/department-of-veterans-affairs/appeals-deployment/issues/1136

We want to make our feature management safe and accessible to non-developers. To do that, let's add robust validations and readable error messages.

[code]

# AC
- If the config_file object is not valid JSON, ensure we don't continue (this may already be covered by existing code)
- If there are any keys in

[2018-01-26 15:50] shanear commented on #143
Yeah, i think it gets even easier in rails 5.

[2018-02-16 01:01] nemodjuric opened #149 "Fix spec/models/stats_spec.rb"
This keeps failing as of caseflow-commons version 0.3.3
Failures:
  `1) Caseflow::Stats#values when no cached stat values exist calculates and caches values
     Failure/Error: expect(subject[:wonderful_things_happened]).to eq(4)
       expected: 4
            got: 2
       (compared using ==)
     # ./spec/models/stats_spec.rb:119:in `block (4 levels) in <top (required)>'`

https://travis-ci.org/

[2018-02-21 06:08] nemodjuric opened #151 "Add ActiveSupport::Dependencies.logger compatibility for Rails 5"
ActiveSupport::Dependencies.logger is deprecated and not used anymore. In Rails 5 it causes:
undefined method `logger=' for ActiveSupport::Dependencies:Module (NoMethodError)

More info: https://github.com/rails/rails/pull/24198

[2018-11-23 19:48] RobertAlexanderUSDS commented on #132
@nemodjuric - it looks like the commits were merged, can this issue be closed?

[2018-11-23 19:54] #132 closed

[2019-06-17 18:50] pkarman opened #158 "Functions.grant! is not intuitive"
When called manually, users seem to expect `Functions.grant!("some role", users: ["foo"])` to add user "foo" to the existing array, rather than replacing the existing array with a new array containing only "foo".

Let's make `Functions.grant!` work instead like:

[code]

[2019-07-17 15:20] pkarman opened #160 "Move from Travis to CircleCI"
Part of moving all our dependencies to use the same CI tool.

[2019-07-17 20:16] pkarman opened #161 "update to Ruby 2.5.3"
which will break s3 tests et al

[2019-07-17 22:11] pkarman opened #163 "audit gemspec for unused gems"
suspect are d3 and jquery

[2019-07-17 22:13] pkarman commented on #110
https://github.com/department-of-veterans-affairs/caseflow/issues/11226

[2019-07-17 22:13] #110 closed

[2019-07-17 22:14] #151 closed

[2019-07-17 22:14] #4 closed

[2019-07-17 22:14] #5 closed

[2019-07-17 22:15] #14 closed

[2019-07-17 22:15] #15 closed

[2019-07-17 22:15] #16 closed

[2019-07-18 13:44] #161 closed

[2019-07-18 15:04] pkarman commented on #20
@carodew I am auditing tickets and found this one. Feel free to close if irrelevant.

[2019-07-18 15:11] carodew commented on #20
oooh, a dinosaur issue! pinging @sneha-pai to see if she recognizes this and if not I think we can close it for lack of contextual knowledge.

[2019-07-18 21:04] pkarman commented on #60
same thing with this one @carodew @sneha-pai

[2019-07-18 21:05] #69 closed

[2019-07-18 21:06] #143 closed

[2019-07-18 21:12] #144 closed

[2019-07-22 23:54] carodew commented on #20
closing due to lack of strenuous objection.

[2019-07-22 23:54] #20 closed

[2019-11-01 21:45] tomas-nava opened #166 "Add more padding between header and body in alert banner"
Add more space in alert banners between the header and the body. Requested by @geronimoramos in [department-of-veteran-affairs/caseflow/#12541](https://github.com/department-of-veterans-affairs/caseflow/pull/12541).

_example_
![Screen Shot 2019-11-01 at 2 34 35 PM](https://user-images.githubusercontent.com/45415133/68058324-eef7ad00-fcb5-11e9-9bbc-8a6f48e51915.png)

_specifically_
<img width="214

[2020-03-31 18:33] alisan16 commented on #98
This hasn't been updated in 2 years. Closing.

[2020-03-31 18:33] #98 closed

[2020-03-31 18:33] alisan16 commented on #100
This hasn't been updated in 2 years. Closing.

[2020-03-31 18:33] #100 closed

[2020-03-31 18:33] alisan16 commented on #101
This hasn't been updated in 2 years. Closing.

[2020-03-31 18:33] #101 closed

[2020-03-31 18:39] alisan16 commented on #133
This hasn't been updated in 2 years. Closing.

[2020-03-31 18:39] #133 closed

[2020-03-31 18:50] alisan16 commented on #149
Closing as this hasn't been updated in 2 years.

[2020-03-31 18:50] #149 closed

[2020-03-31 20:00] alisan16 commented on #160
This is done

[2020-05-19 21:23] #158 closed